body{
    background-color: black;
}
.poster{
    margin-top: 100px;
    color: aliceblue;
    text-align: center;
    
}
.image{
    border : solid bisque 5px;
    height:380px;
    width:700px;
    align-items: center;
}
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 1000;
    font-style: normal;
    text-transform: uppercase;
    color: aliceblue;
  }